name: Generate Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: GitHub Readme Stats Action
        uses: stats-organization/github-readme-stats-action@v1.1.0
        with:
          card: stats
          options: show=reviews,prs_merged,prs_merged_percentage,prs_commented,prs_reviewed,issues_commented&show_icons=true&include_all_commits=true&theme=dracula

      - name: GitHub Readme TopLang Action
        uses: stats-organization/github-readme-stats-action@v1.1.0
        with:
          card: top-lang
          options: layout=donut-vertical&langs_count=4&theme=dracula
          
