name: Generate Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
    contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: GitHub Readme Stats Action
        uses: stats-organization/github-readme-stats-action@v1.1.0
        with:
          card: stats
          options: username=How-Bout-No&show=reviews,prs_merged,prs_merged_percentage,prs_commented,prs_reviewed,issues_commented&show_icons=true&include_all_commits=true&theme=dracula
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: GitHub Readme TopLang Action
        uses: stats-organization/github-readme-stats-action@v1.1.0
        with:
          card: top-langs
          options: username=How-Bout-No&layout=donut-vertical&langs_count=4&theme=dracula
          token: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push
